<template>
  <div class="notification"
    :class="notificationClass"
    :title="notificationWhen">
    <a :href="linkToMailShow"
      @click="showNotification">
      <div class="n-info">
        <div class="n-txt-left">
          <div class="n-bu badge">
            <i class="cmp-label-icon fal fa-building"></i>
            {{notification.message_data.bu}}
          </div>
          <div class="n-sender">
            <i class="cmp-label-icon fal fa-user"></i>
            {{notification.message_data.sender}}
          </div>
          <div class="n-subject">
            <i class="cmp-label-icon fal fa-envelope-open-text"></i>
            {{notification.message_data.subject}}
          </div>
        </div>
        <div class="n-txt-right">
          <div class="n-sent-at" v-html="notification.message_data.created_at"></div>
          <i class="fal fa-exclamation-circle" v-if="notification.message_data.required_reading" />
          <i class="fal fa-paperclip" v-if="notification.message_data.attachment" />
        </div>
      </div>
    </a>
  </div>
</template>

<script>
  import moment from 'moment'

  const failed = notification => {
    return notification.message_status &&
      (400 <= notification.message_status == notification.message_status < 600)
  }

  export default {
    name: 'mailNotification',
    components: {
    },
    props: ['allUrl', 'notification'],
    computed: {
      i18nJS() {
        return window.i18nJS
      },
      linkToMailShow() {
        if (typeof this.allUrl === 'function') return '#'
        return this.allUrl + '/' + this.notification.message_data.conversation_id
      },
      notificationWhen() {
        if (this.notification.inserted_at) {
          return moment.utc(this.notification.inserted_at)
                       .local().format(i18nJS.time.formats.aux)
        }
      },
      failed () {
        return failed(this.notification)
      },
      notificationClass() {
        let cssClass = ''

        if (failed(this.notification)) {
          cssClass += ' srv-error'
        } else {
          if (!this.notification.opened) {
            cssClass += ' notification-new'
          }
        }
        return cssClass
      },
    },
    methods: {
      showNotification(e) {
        if (typeof this.allUrl === 'function') {
          e.preventDefault()
          this.allUrl(this.notification)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .notification {
    padding: 18px 20px;
    border-bottom: 1px solid #fff;
    background: #f3f3f3;

    .cmp-label-icon {
      color: #888;
    }

    .n-sender {
      font-weight: 800;
    }

    .n-sent-at {
      margin-bottom: 5px;
    }

    .n-bu, .n-subject, .n-sender {
      max-width: 275px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .n-bu {
      padding: 6px 8px 4px 4px;
      margin-right: 1em;
      background-color: transparent;
      color: #000;
      position: relative;
      left: -5px;
    }

    &.notification-new {
      background: #fff;
      padding-top: 0;

      .n-title {
        font-weight: 400;
      }
    }

    &.srv-error {
      background: #eed3d7 !important;
      .n-title {
        color: #b94a48 !important;
      }
    }

    .n-optional-msg {
      display: block;
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-right: 10px;

      &.dwn-cont-excel {
        color: #266c00 !important;
      }
      &.dwn-cont-pdf {
        color: #a00 !important;
      }

      .icon {
        font-size: 1.6em;
      }
    }

    .fa.rr {
      color: #C00;
      width: 25px;
    }

    .at {
      color: #888;
      width: 25px;
    }

    .n-info {
      display: flex;
      padding: 1em;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(148,148,148,1);

      .n-txt-left {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .n-title {
          font-size: 13px;
        }
        .n-desc, .n-desc a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px !important;
          font-weight: 200;
        }
      }
      .n-txt-right {
        text-align: right;
        .del-icon {
          cursor: pointer;
          padding: 20px;
        }
      }
    }
  }
</style>
