<template>
  <div class="nav-item notification-container" v-if="alwaysVisible || filteredNotifications.length > 0">
    <a :aria-expanded="showMenu == kind"
      aria-haspopup="true"
      @click="toggleMenu"
      role="button"
      class="nav-link text-light"
      :class="{'unplugged': !isConnected, 'nmail': isMailKind}">
      <i class="bell-icon nav-icon fal" :class="faIcon"></i>
      <span
        v-if="notificationsCount > 0"
        class="badge badge-important">{{notificationsCount}}</span>
    </a>
    <ul class="dropdown-menu" :class="{'opened': showMenu == kind}">
      <li class="head text-light">
        <div><span>{{notificationsTitle}} ({{readNotificationCount}})</span></div>
        <a :href="allUrl" v-if="allUrl">{{i18nJS.show_all}}</a>
      </li>
      <li class="notification-cont">
        <div
          v-for="(notification, index) in filteredNotifications"
          :key="index">
          <questionNotification
            v-if="notification.message_data.kind == 'question'"
            :notification="notification" />
          <mailNotification
            v-if="isMailKind && isConnected"
            :notification="notification"
            :all-url="showUrl || allUrl" />
          <singleNotification
            v-else
            @delete="deleteNotification"
            @sign-document="signDocument"
            :notification="notification" />
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
  import { eventBus } from '../../Utils/eventBus'
  import { Notification } from '../../NotificationService/NotificationServiceApi'
  import questionNotification from './questionNotification'
  import mailNotification from './mailNotification'
  import singleNotification from './singleNotification'
  import { DeviceService } from '../../NotificationService/deviceService'

  export default {
    name: 'notification-menu',
    components: {
      mailNotification,
      questionNotification,
      singleNotification,
    },
    props: ['alwaysVisible', 'allUrl', 'showUrl', 'keepCountNotified', 'kind', 'isConnected', 'managedNotification', 'notifications', 'onlyFollowingBus', 'title', 'showMenu'],
    data() {
      return {
        intervalNotifChecker: null,
        fallbackCount: 0,
      }
    },
    created () {
      if(this.isMailKind) {
        eventBus.$on('receiptRead', evt => {
          const notificationToDelete = this.filteredNotifications.find(n => n.message_data.receipt_id == evt.id)

          if(notificationToDelete) {
            this.deleteNotification(notificationToDelete)
          }
        })
        eventBus.$on('fallbackCountUpdate', evt => {
          if(evt.kind == this.kind) {
            this.fallbackCount = evt.count
          }
        })
      }
    },
    destroy () {
      eventBus.$off('receiptRead')
      eventBus.$off('fallbackCountUpdate')
    },
    computed: {
      i18nJS () {
        return window.i18nJS
      },
      filteredNotifications () {
        let filteredByKind = this.notifications.filter(n => n.kind == this.kind)
        if(this.onlyFollowingBus) {
          const buIds = Array.isArray(this.onlyFollowingBus) ? this.onlyFollowingBus : [this.onlyFollowingBus]
          return filteredByKind.filter(n => buIds.includes(n.business_unit_id))
        } else {
          return filteredByKind
        }
      },
      filteredNewNotifications () {
        return this.filteredNotifications.filter(el => !el.notified)
      },
      notificationsCount () {
        if(!this.isConnected && this.isMailKind) {
          return this.fallbackCount
        } else {
          return this.keepCountNotified ? this.filteredNotifications.length : this.filteredNewNotifications.length
        }
      },
      notificationsTitle() {
        return this.title || i18nJS.notifications
      },
      readNotificationCount () {
        return this.filteredNotifications.filter(el => !el.read).length
      },
      faIcon () {
        return this.managedNotification.icon
      },
      isMailKind() {
        return this.kind.match(/-?mail$/)
      },
    },
    methods: {
      deleteNotification (notification, evt) {
        if (evt) {
          evt.stopPropagation()
        }
        Notification
          .deleteNotification(notification)
          .finally(() => {
            this.$emit('update:notifications', this.notifications.filter(n => n !== notification))
          })
      },
      toggleMenu () {
        if((!this.isConnected && this.isMailKind) || this.isMailKind && DeviceService.isMobile()) {
          window.location = this.allUrl
        } else {
          if (this.filteredNewNotifications.length > 0) {
            Notification
              .ackNotified(this.filteredNewNotifications)
              .then(() => {
                this.$emit('update:notifications', this.notifications.map(n => ({
                  ...n,
                  notified: n.kind == this.kind,
                })))
              })
          }
          this.$emit('update:showMenu', this.showMenu ? null : this.kind)
        }
      },
      signDocument (documentUrl, dsdKind, evt) {
        if (evt) {
          evt.stopPropagation()
        }
        eventBus.$emit('sign-document', { documentUrl: documentUrl, dsdKind: dsdKind })
      }
    },
  }
</script>
<style scoped lang="scss">

  $dd-menu-width: 460px;
  $dd-border-radius: 6px;
  $head-padding: 18px;

  .dl-icon {
    animation: falling 2s linear infinite;
    cursor: pointer;
    &:hover {
      color: green !important;
    }
  }

  .dl-container {
    perspective: 800px;
    transform-style: preserve3d;
  }

  .del-icon {
    cursor: pointer;
    &:hover {
      color: red !important;
    }
  }
  .clickable {
    cursor: pointer;
  }

  .unplugged {
    opacity: 0.3;
    &.nmail {
      opacity: 1;
    }
  }

  #fallbackMailCount {
    left: -15px;
    top: -10px;
  }

  .nav-item {
    position: relative;
  }
  .notification-container {
    text-transform: none;
    .dropdown-menu {
      width: $dd-menu-width;
      right: -7px;
      top: 30px;

      .notification-cont {
        margin-top: 40px;
      }

      &.opened {
        display: block;
        max-height: 400px;
        overflow: scroll;
      }
    }

    .bell-icon {
      color: #666;
    }
    .head {
      display: flex;
      justify-content: space-between;
      padding: $head-padding $head-padding 5px $head-padding;
      text-transform: uppercase;

      position: fixed;
      width: $dd-menu-width - (2 * $head-padding);
      background-color: #fff;
      margin: inherit;
      margin-top: -5px;
      border-radius: $dd-border-radius;
      z-index: 1;

      & > a {
        display: flex;
        font-size: 0.8em;
      }
    }


    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
    .badge.badge-important {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

  }
</style>
