<template>
  <div class="progr-bar">
    <div v-if="remaining" class="bar perc-remaining" :style="{width: `${remaining}%`}"></div>
    <div v-else-if="progress == -1" class="bar in-progress"></div>
    <div
      v-else-if="progress"
      class="bar"
      :class="progressBarClass"
      :style="{width: `${progress}%`}"></div>
  </div>
</template>
<script>
  export default {
    name: 'progressBar',
    props: [
      'failed', // boolean
      'progress', // in range 0..100%
      'remaining', // in range 100..0%
    ],
    computed: {
      progressBarClass() {
        if (this.failed) {
          return 'perc-error'
        } else {
          return this.progress == 100 ? 'perc-completed' : 'perc-progress'
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .progr-bar {
    background: #D2D2D2;
    height: 2px;
    width: 100%;
  }
  .bar {
    height: 100%;
  }
  .perc-error {
    background: #a00;
  }
  .perc-progress {
    background: #EF7B12;
  }
  .perc-completed {
    background: #5BB75B;
  }
  .perc-remaining {
    background: #5BB75B;
    float: right;
  }

  .in-progress {
    appearance: none;
    position: relative;
    width: 100%;
    height: 3px;
  }

  @keyframes hithit {
    0%   { left: 0; }
    100%  { left: 60%; }
  }

  .progr-bar {
    height: 3px;
    background-color: #e1e1e1;
    .in-progress::-webkit-progress-bar {
      background: #e1e1e1;
    }

    .in-progress::-webkit-progress-value {
      background: #e1e1e1;
    }

    .in-progress::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      height: 3px;
      width: 40%;
      background: #EF7B12;
      animation: hithit 1.5s linear infinite alternate;
    }
  }

</style>
