<template>
  <div class="notif">
    <a
      v-if="!notification.message_data.required"
      class="close-btn"
      @click="() => selectOption(null)"><i class='fal fa-times'></i></a>
    <p>{{notification.message}}</p>
    <div class="options-cont">
      <a class="btn notif-btn"
      v-for="(value, text) in notification.message_data.options"
      @click="() => selectOption(value)"
      :key="text">{{text}}</a>
    </div>
  </div>
</template>
<script>
  import { Notification, Question } from '../../NotificationService/NotificationServiceApi'

  export default {
    name: 'questionNotification',
    props: ['notification'],
    methods: {
      selectOption (value) {
        Question.answerQuestion({
          cod: this.notification.message_data.cod,
          user_id: window.config.user.id,
          question: this.notification.message,
          options: this.notification.message_data.options,
          answer: {value},
        })
        .then(res => {
          Notification.deleteNotification(this.notification)
        })
        .catch(err => {
          console.error('Error while posting answer', err);
        })
      }
    },
  }
</script>
<style lang="scss" scoped>
  .notif {
    background: #C4DCFC;
    margin: 5px 7px 0 7px;
    padding: 6px;
    font-size: 15px;
    white-space: initial;
    border-radius: 3px;
    color: #444;
  }

  .close-btn {
    float: right;
    background: #fff;
    border-radius: 100px;
    margin: 0 0 5px 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .options-cont {
    text-align: right;

    .notif-btn {
      background: #E4F3FF;
      margin-left: 7px;
    }
  }
</style>
