<template>
  <div class="notification"
    :class="notificationClass"
    :title="notificationWhen"
    @click="openNotification(downloadable && !notification.isExpired)"
    >
    <div class="n-info">
      <div v-if="downloadable && !notification.isExpired"
          class="n-optional-msg"
          :class="downloadableIconCont"
          target="_blank">
        <i class="icon fal" :class="downloadableIcon"></i>
      </div>

      <div v-if="notification.isExpired" class="n-txt-left">
        <div class="n-desc expired">{{i18nJS.notification.expired}}</div>
      </div>
      <div v-else class="n-txt-left">
        <div class="n-title" v-html="notification.message"></div>
        <div class="n-desc" v-if="downloadable">
          {{notification.message_data.reportName}}
        </div>
      </div>

      <div v-if="notification.message_data.showDigitalSignature === true && notification.message_data.fileUrl && notification.message_data.showDigitalSignature" class="n-txt-right">
        <a @click="$emit('sign-document', notification.message_data.fileUrl, notification.message_data.dsdKind, $event)"><i :title="i18nJS.notification.sign" class="fal fa-pen sign-icon js-tooltip"></i></a>
      </div>

      <div class="n-txt-right">
        <a @click="$emit('delete', notification, $event)"><i :title="i18nJS.notification.remove" class="fal fa-times del-icon js-tooltip"></i></a>
      </div>
    </div>

    <div class="n-progress-cont">
      <div class="n-optional-msg"
        v-if="notification.expires_at">{{notification.timeLeftTxt}}</div>
      <progressBar
        v-if="!notification.isExpired"
        :failed="failed"
        :remaining="notification.perc_time_left"
        :progress="notification.progress" />
    </div>
  </div>
</template>
<script>
  import moment from 'moment'
  import progressBar from './progressBar'

  const minShowDuration = 2000 //  show popup for x seconds before closing after its download

  const fileExtension = (fileUrl) => {
    const filePath = (`${fileUrl}`).split('?', 1)[0]
    let fileExt = filePath.match("\.(pdf|csv)$")
    if (fileExt) {
      fileExt[1] = fileExt[1] == 'csv' ? 'excel' : fileExt[1]
      return fileExt[1]
    }
    return null
  }

  const signable = notification => {
    return notification != undefined &&
      notification.message_data != undefined &&
        notification.message_data.showDigitalSignature != undefined &&
          !!notification.message_data.showDigitalSignature === true
  }

  const downloadable = notification => {
    return notification != undefined &&
      notification.message_data != undefined &&
      !!notification.message_data.fileUrl
  }

  const failed = notification => {
    return notification.message_status &&
      (400 <= notification.message_status == notification.message_status < 600)
  }

  const popupBlocked = notification => {
    let helpUrl = 'https://www.youtube.com/watch?v=xQykXyfz-p4'
    switch (Utils.browser()) {
      case 'Firefox':
        helpUrl = 'https://www.youtube.com/watch?v=W7Rqnfx7YRo'
      case 'Safari':
        helpUrl = 'https://www.youtube.com/watch?v=noTebpwKDCg'
    }
    window.eventBus.$emit('addUINotification', {
      message_status: 500,
      message: window.i18nJS.errors.messages.popup_blocked
                .replace('{helpUrl}', helpUrl)
                .replace('{downloadUrl}', notification.message_data.fileUrl),
    })
  }

  const openNotification = (notification, downloadAttachment) => {
    let succeeded = true
    if (downloadAttachment) {
      const url = notification.message_data.fileUrl
      if (url.split('?', 1)[0].endsWith('.pdf')) {
        const newTab = window.open(notification.message_data.fileUrl)
        if (!newTab || newTab.closed || typeof newTab.closed=='undefined') {
          popupBlocked(notification)
          succeeded = false
        }
      } else {
        window.location.href = url
      }
    }
    return succeeded
  }

  export default {
    name: 'singleNotification',
    components: {
      progressBar,
    },
    props: ['notification'],
    data () {
      return {
        hasDownloaded: false,
      }
    },
    watch: {
      notification: function (valNew, valOld) {
        if (
          valNew.id === valOld.id && // vue caches components
          !downloadable(valOld) && downloadable(valNew) && // monitor when becomes downloadable (first time)
          valNew.autoDownload && // is same process that started the download (prevent other tabs/devices to download)
          !signable(valNew) // don't auto-open notification on reports that could be signed (otherwise they could'nt, since the notification disappears just after autoDownload)
        ) {
          const succeeded = openNotification(valNew, true)
          if (succeeded) {
            setTimeout(() => this.$emit('delete', valNew), minShowDuration)
          }
        }
      }
    },
    computed: {
      i18nJS() {
        return window.i18nJS
      },
      downloadable() {
        return downloadable(this.notification)
      },
      downloadableIconCont() {
        let fileExt = fileExtension(this.notification.message_data.fileUrl)
        return fileExt ? `dwn-cont-${fileExt}` : null
      },
      downloadableIcon() {
        let fileExt = fileExtension(this.notification.message_data.fileUrl)
        if (fileExt) {
          return `fal fa-file-${fileExt}`
        }
        return 'fal fa-external-link-square'
      },
      notificationWhen() {
        if (this.notification.inserted_at) {
          return moment.utc(this.notification.inserted_at)
                       .local().format(i18nJS.time.formats.aux)
        }
      },
      failed () {
        return failed(this.notification)
      },
      notificationClass() {
        let cssClass = ''

        if (failed(this.notification)) {
          cssClass += ' srv-error'
        } else {
          if (!this.notification.opened) {
            cssClass += ' notification-new'
          }
          if (downloadable(this.notification)) {
            cssClass += ' downloadable'
          }
        }
        return cssClass
      },
    },
    methods: {
      openNotification (downloadAttachment) {
        openNotification(this.notification, downloadAttachment)
      },
    }
  }
</script>
<style lang="scss" scoped>
  .notification {
    padding: 18px 20px;
    border-bottom: 1px solid #fff;
    background: #f3f3f3;

    .n-title {
      white-space: initial;
    }

    &.notification-new {
      background: #fff;

      .n-title {
        font-weight: 400;
      }
    }

    &.srv-error {
      background: #eed3d7 !important;
      .n-title {
        color: #b94a48 !important;
      }
    }

    &.downloadable:hover {
      cursor: pointer;
      background: #efefef;
    }

    .n-optional-msg {
      display: block;
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-right: 10px;

      &.dwn-cont-excel {
        color: #266c00 !important;
      }
      &.dwn-cont-pdf {
        color: #a00 !important;
      }

      .icon {
        font-size: 1.6em;
      }
    }

    .n-info {
      display: flex;
      margin-bottom: 10px;

      .n-txt-left {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .n-title {
          font-size: 13px;
        }
        .n-desc, .n-desc a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px !important;
          font-weight: 200;
        }
      }
      .n-txt-right {
        text-align: right;
        .del-icon {
          cursor: pointer;
          padding: 20px;
        }
        .sign-icon {
          cursor: pointer;
          padding: 20px 0px 20px 20px;
        }
      }
    }
    .n-progress-cont {
      display: flex;
      align-items: center;

      .n-time {
        font-size: 12px;
        font-weight: 400;
      }
      // [progress bar here]
    }
  }
</style>
